@model ModuloCompras.Entidades.DetalleFactura

@{
    ViewData["Title"] = "Eliminar Detalle Factura";
}

<h1 class="text-center my-4">@ViewData["Title"]</h1>


<hr />
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Id)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Id)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FacturaId)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.FacturaId)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.ProductoId)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.ProductoId)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Cantidad)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Cantidad)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.PrecioUnitario)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.PrecioUnitario)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Iva)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Iva)</dd>

                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.SubTotal)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.SubTotal)</dd>
                </dl>

                <div class="form-group text-center mt-4 d-flex justify-content-center">
                    <form asp-action="Delete" class="d-inline">
                        <input type="submit" value="Eliminar" class="btn btn-danger mx-2" />
                    </form>
                    <a asp-action="Index" class="btn btn-secondary mx-2"><i class="fas fa-arrow-left"></i> Volver a la lista</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
