@model ModuloCompras.Entidades.Factura

@{
    ViewData["Title"] = "Crear Factura";
    ViewData["Title"] = "Crear Detalle de Factura";
}

<h1 class="text-center my-4">@ViewData["Title"]</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group mb-3">
                                <label asp-for="ProveedorId" class="control-label">Proveedor</label>
                                <select asp-for="ProveedorId" class="form-control" id="ProveedorId" onchange="cargarTipoPago()">
                                    <option value="">Seleccione un proveedor</option>
                                    @foreach (var proveedor in ViewBag.ProveedoresActivos)
                                    {
                                        <option value="@proveedor.Id" data-tipopago="@proveedor.TipoProveedor">
                                            @proveedor.Nombres
                                        </option>
                                    }
                                </select>
                                <span asp-validation-for="ProveedorId" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="TipoPago" class="control-label">Tipo de Pago</label>
                                <input asp-for="TipoPago" class="form-control" />
                                <span asp-validation-for="TipoPago" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group mb-3">
                                <label for="fechaActual" class="control-label">Fecha y Hora</label>
                                <input type="text" id="fechaActual" class="form-control" readonly />
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="FechaVencimiento" class="control-label">Fecha de Vencimiento</label>
                                <input asp-for="FechaVencimiento" class="form-control" type="date" id="FechaVencimiento" />
                                <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
                            </div>

                            <div class="form-group form-check mb-3">
                                <input class="form-check-input" asp-for="Impresa" />
                                <label class="form-check-label" asp-for="Impresa"></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Partial("~/Views/DetalleFacturas/Create.cshtml")
                    </div>


                    <div class="form-group text-center mt-4 d-flex justify-content-center">
                        <a asp-action="Index" class="btn btn-secondary mx-2"><i class="fas fa-arrow-left"></i>Cancelar</a>
                        <input type="submit" value="Guardar" class="btn btn-primary mx-2" />
                        <button type="button" class="btn btn-success mx-2">Imprimir</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>

            function cargarFechaActual() {
                var fechaActual = new Date();
                var dia = ("0" + fechaActual.getDate()).slice(-2);
                var mes = ("0" + (fechaActual.getMonth() + 1)).slice(-2);
                var ano = fechaActual.getFullYear();
                var horas = ("0" + fechaActual.getHours()).slice(-2);
                var minutos = ("0" + fechaActual.getMinutes()).slice(-2);
                var segundos = ("0" + fechaActual.getSeconds()).slice(-2);

                var fechaYHora = dia + "/" + mes + "/" + ano + " " + horas + ":" + minutos + ":" + segundos;
                document.getElementById("fechaActual").value = fechaYHora;
            }

            // Llamar a la función cuando la página se carga
            window.onload = function () {
                cargarFechaActual();

                // Establecer la fecha mínima para el campo de fecha de vencimiento
                var fechaActual = new Date().toISOString().split('T')[0];
                document.getElementById("FechaVencimiento").setAttribute("min", fechaActual);
            };
            function cargarTipoPago() {
                var proveedorSelect = document.getElementById("ProveedorId");
                var tipoPagoInput = document.getElementById("TipoPago");
                var selectedOption = proveedorSelect.options[proveedorSelect.selectedIndex];
                var tipoPago = selectedOption.getAttribute("data-tipopago");
                tipoPagoInput.value = tipoPago;
            }
        </script>
    }
}
