@model ModuloCompras.Entidades.Proveedor

@{
    ViewData["Title"] = "Detalles Proveedor";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Id)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.CedulaRuc)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CedulaRuc)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Apellidos)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Apellidos)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Nombres)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nombres)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Ciudad)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Ciudad)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.TipoProveedor)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.TipoProveedor)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Estado)
            </dd>
        </dl>
    </div>
</div>

<div class="text-center mt-3">
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>
