@model IEnumerable<ModuloCompras.Entidades.Proveedor>

@{
    ViewData["Title"] = "Listado de Proveedores";
}

<h1 class="text-center my-4">Proveedores</h1>

<div class="d-flex justify-content-between mb-3">
    <div>
        <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Crear Nuevo</a>
        <a href="@Url.Action("GenerarReportePDF", "Proveedores")" class="btn btn-primary">Generar Reporte</a>
     
    </div>
    <div class="form-inline">
        <input type="text" id="searchInput" class="form-control form-control-sm" placeholder="Buscar proveedores...">
    </div>
</div>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.CedulaRuc)</th>
            <th>@Html.DisplayNameFor(model => model.Apellidos)</th>
            <th>@Html.DisplayNameFor(model => model.Nombres)</th>
            <th>@Html.DisplayNameFor(model => model.Ciudad)</th>
            <th>@Html.DisplayNameFor(model => model.TipoProveedor)</th>
            <th>@Html.DisplayNameFor(model => model.Direccion)</th>
            <th>@Html.DisplayNameFor(model => model.Telefono)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="providersTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.CedulaRuc)</td>
                <td>@Html.DisplayFor(modelItem => item.Apellidos)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombres)</td>
                <td>@Html.DisplayFor(modelItem => item.Ciudad)</td>
                <td>@Html.DisplayFor(modelItem => item.TipoProveedor)</td>
                <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i> Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i> Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
        document.getElementById('searchInput').addEventListener('keyup', function () {
            var filter = this.value.toUpperCase();
            var rows = document.querySelector("#providersTable").rows;

            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].cells;
                var match = false;
                for (var j = 0; j < cells.length - 1; j++) {
                    if (cells[j].innerText.toUpperCase().indexOf(filter) > -1) {
                        match = true;
                        break;
                    }
                }
                rows[i].style.display = match ? "" : "none";
            }
        });
    </script>
}
